/* line 34, ../scss/cform.style.scss */
.cform-hidden {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    visibility: hidden;
    overflow: hidden;
}

/* line 44, ../scss/cform.style.scss */
.cform-template-input, .cform-file .cform-filename, .cform-text input, .cform-text textarea, .cform-checkbox, .cform-radio, .cform-select, .cform-multiselect {
    padding: 3px;
    margin: 0;
    box-sizing: border-box;
    background-color: #b6ccdd;
    border: 1px solid #2a5170;
    cursor: pointer;
}
/* line 52, ../scss/cform.style.scss */
.cform-template-input:hover, .cform-file .cform-filename:hover, .cform-text input:hover, .cform-text textarea:hover, .cform-checkbox:hover, .cform-radio:hover, .cform-select:hover, .cform-multiselect:hover {
    border-color: #2a3741;
}
/* line 57, ../scss/cform.style.scss */
.cform-template-input:focus, .cform-file .cform-filename:focus, .cform-text input:focus, .cform-text textarea:focus, .cform-checkbox:focus, .cform-radio:focus, .cform-select:focus, .cform-multiselect:focus, .cform-template-input:active, .cform-file .cform-filename:active, .cform-text input:active, .cform-text textarea:active, .cform-checkbox:active, .cform-radio:active, .cform-select:active, .cform-multiselect:active {
    border-color: #2a3741;
    outline: 0;
}

/* line 63, ../scss/cform.style.scss */
.cform-control-template, .cform-submit input, .cform-button button, .cform-file .cform-control, .cform-select .cform-control {
    padding: 5px 10px;
    margin: 0;
    background-color: #2a3741;
    border: 1px solid #2a3741;
    box-sizing: border-box;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}
/* line 75, ../scss/cform.style.scss */
.cform-control-template:hover, .cform-submit input:hover, .cform-button button:hover, .cform-file .cform-control:hover, .cform-select .cform-control:hover {
    background-color: #529632;
    outline: 0;
}

/* line 82, ../scss/cform.style.scss */
.cform-submit input {
    text-align: center;
}

/* line 88, ../scss/cform.style.scss */
.cform-button button {
    text-align: center;
}

/* line 94, ../scss/cform.style.scss */
.cform-file {
    position: relative;
}
/* line 97, ../scss/cform.style.scss */
.cform-file .cform-control {
    width: 120px;
    text-align: center;
}
/* line 104, ../scss/cform.style.scss */
.cform-file .cform-filename {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 120px;
    right: 0;
    padding-left: 10px;
    line-height: 2em;
    font-size: 0.75em;
    overflow: hidden;
}

/* line 118, ../scss/cform.style.scss */
.cform-text input {
    padding: 5px 10px;
    color: #2a3741;
}
/* line 123, ../scss/cform.style.scss */
.cform-text textarea {
    padding: 5px 10px;
    color: #2a3741;
}

/* line 130, ../scss/cform.style.scss */
.cform-checkbox {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    cursor: pointer;
}
/* line 140, ../scss/cform.style.scss */
.cform-checkbox .cform-marker {
    display: none;
    width: 10px;
    height: 10px;
    background-color: #2a5170;
}
/* line 147, ../scss/cform.style.scss */
.cform-checkbox.checked .cform-marker {
    display: block;
}

/* line 153, ../scss/cform.style.scss */
.cform-radio {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    cursor: pointer;
}
/* line 165, ../scss/cform.style.scss */
.cform-radio .cform-marker {
    display: none;
    width: 10px;
    height: 10px;
    background-color: #2a5170;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 174, ../scss/cform.style.scss */
.cform-radio.checked .cform-marker {
    display: block;
}

/* line 180, ../scss/cform.style.scss */
.cform-select {
    padding: 0;
    position: relative;
    border: none;
}
/* line 191, ../scss/cform.style.scss */
.cform-select ul {
    position: absolute;
    top: 100%;
    left: -1px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 0px;
    list-style: none;
    overflow: hidden;
    background-color: #b6ccdd;
    border-left: 1px solid #b6ccdd;
    border-bottom: 1px solid #b6ccdd;
    border-right: 1px solid #b6ccdd;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
/* line 209, ../scss/cform.style.scss */
.cform-select ul li {
    padding: 4px 8px;
    color: #2a5170;
}
/* line 213, ../scss/cform.style.scss */
.cform-select ul li.selected {
    color: #fff;
    background-color: #1162a0;
}
/* line 217, ../scss/cform.style.scss */
.cform-select ul li:hover {
    color: #fff;
    background-color: #529632;
}
/* line 225, ../scss/cform.style.scss */
.cform-select:hover ul {
    max-height: 1000px;
}

/* line 231, ../scss/cform.style.scss */
.cform-multiselect {
    padding: 0;
}
/* line 235, ../scss/cform.style.scss */
.cform-multiselect ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    background-color: #b6ccdd;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
/* line 247, ../scss/cform.style.scss */
.cform-multiselect ul li {
    padding: 4px 8px;
    color: #2a5170;
}
/* line 251, ../scss/cform.style.scss */
.cform-multiselect ul li.selected {
    color: #fff;
    background-color: #1162a0;
}
/* line 255, ../scss/cform.style.scss */
.cform-multiselect ul li:hover {
    color: #fff;
    background-color: #529632;
}